@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('device.css');
@import url('elements.css');
@import url('nav-bar.css');

header{
    background-image: url('../../img/header/Background.png');
    width: 100%;
    height: 1043px;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
}
