@import url('device.css');
@import url('elements.css');
@import url('nav-bar.css');

header{
    background-image: url('../../img/header/Background.png');
    background-repeat: round;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
}
@media(max-width:1315px){
    header{
        background-repeat: no-repeat;
    }
}
