@import url('buttons.css');

#pricing{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    
}
#pricing .card img{
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
#pricing #pricing-row-content{
    margin: 130px auto;
}
#pricing .card{
    border: none;
}
#pricing #pricing-1{
    padding: 0;
}
#pricing #pricing-2 .card-title{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(232, 232, 232, 0.9);
    width: 50%;
}
#pricing #pricing-3 .card-title{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(232, 232, 232, 0.9);
    width: 50%;
}
#pricing #pricing-2 .card{
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
#pricing #pricing-3 .card{
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
#pricing #pricing-2 li{
    border: none;
    padding: 10px;
}
#pricing #pricing-3 li{
    border: none;
    padding: 10px;
}
#pricing #pricing-1 p{
    margin: 20px auto;
}
#pricing #pricing-2 ul{
    padding-bottom: 10px;
}
#pricing #pricing-3 ul{
    padding-bottom: 10px;
}
#pricing #pricing-price-2{
    color: #0f7bff;
    font-size: 32px;
    text-shadow: 0px 0px 2px rgba(15, 123, 255, 0.4);
}
#pricing #pricing-price-3{
    color: #0f7bff;
    font-size: 32px;
    text-shadow: 0px 0px 2px rgba(15, 123, 255, 0.4);
}
#pricing #coast{
    font-size: 16px;
    text-shadow: 0px 0px 1px rgba(15, 123, 255, 0.6);
}
@media(max-width:1200px){
    #pricing #pricing-1 .btn{
        border-radius: 25px;
    }
}
@media(max-width:767px){
    #pricing #pricing-2{
        margin: 20px 0;
    }
    #pricing #pricing-row-content{
        margin: 30px 0;
    }
    @media(max-width:730px){
        #pricing-1 .card-title{
            text-align: center;
        }
    }
}