@import url('scroll-down.css');
@import url('card.css');

#features{
    /* background-image: url('../../img/features/background.png'); */
    background-color: #f5fcfd;
    width: 100%;
    height: 635px;
    font-family: 'Quicksand', sans-serif;
}